/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15%;
}

table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 3px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
		text-align: center;
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

.styled-text-field {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
    }

header {
    background-color: lightseagreen; 
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

header img {
    max-width: 45%;
    height: auto;
}

h1 {
    margin-top: 10px;
    color: blueviolet;
}

.content {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    align-items: self-start;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result-section {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    width: 100%;
    padding: 10px 0;
    background-color: lightseagreen;
    color: #fff;
}
